@media screen and (max-width:600px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }
}
nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
}
@media screen and (max-width:600px) {
    nav {
        margin-top: 30px;
    }
}
nav a {
    color: black;
    text-decoration: none;
}
nav img {
    height: 20px;
}
@media screen and (max-width:600px) {
    nav img {
        display: none;
    }
}
@media screen and (max-width:600px) {
    .word {
        display: none;
    }
}
.icons {
    display: none;
}
@media screen and (max-width:600px) {
    .icons {
        display: flex;
    }
}
main {
    width: 50%;
    margin: auto;
    padding-top: 150px;
    text-align: center;
}
@media screen and (max-width:600px) {
    main img {
        height: 10vh;
        margin-left: 10px;
    }
}
.container {
    position: relative;
}
input {
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid #888;
    outline: none;
}
@media screen and (max-width:600px) {
    input {
        width: 100%;
        margin-left: -40px;
        padding-right: 50px;
        padding-left: 50px;
    }
}
.mic {
    position: absolute;
    right: 80px;
    top: 13px;
}
@media screen and (max-width:600px) {
    .mic {
        right: -50px;
    }
}
.btn-container {
    margin-top: 1em;
}
.btn-container button {
    color: #888;
    padding: 1em;
    border: none;
    font-weight: 700;
    outline: none;
}
@media screen and (max-width:600px) {
    .btn-container {
        display: none;
    }
}